{{include '../layout/header.html'}}

<div class="container">
    <h1>发布文章页</h1>
    <hr>
    <form id="form">
        <!-- 在form表单中增加一个隐藏域，记录用户id -->
        <input type="hidden" name="authorId" value="<%= user.id %>">

        <div class="form-group">
            <label>文章标题：</label>
            <input type="text" name="title" class="form-control">
        </div>

        <div class="form-group">
            <label>文章内容：</label>
            <textarea name="content" class="form-control" id="editor"></textarea>
        </div>

        <div class="form-group">
            <input type="button" value="发表文章" class="btn btn-primary" id="btn-id">
        </div>
    </form>
</div>
<link rel="stylesheet" href="../../node_modules/mditor/dist/css/mditor.min.css">
<script src="../../node_modules/mditor/dist/js/mditor.min.js"></script>
<script>
    $(function() {
        var mditor = Mditor.fromTextarea(document.getElementById('editor'));
        $('#btn-id').on('click', function() {

            $.ajax({
                type: 'post',
                url: '/article/add',
                data: $('#form').serialize(),
                dataType: 'json',
                success: function(result) {
                    console.log(result)
                        // res 返回的结果，有一个 insertId
                    if (result.status !== 200) return alert('发布文章失败')
                    location.href = '/article/info/' + result.insertId
                }

            })
        })
    })
</script>
<!-- copyright -->
{{include '../layout/footer.html'}}

</body>

</html>